$mainViolet: #a729f5;
$darkNavy: #313e51;
$navyBlue: #3b4d66;
$greylishBlue: #626c7f;
$lightBlue: #abc1e1;
$lightGrey: #f4f6fa;
$mainWhite: #fff;
$mainGreen: #26d782;
$mainRed: #ee5454;


//catergory colors
$htmlOrange: #FF7E35;
$cssGreen: #2FD887;
$jsBlue: #306AFF;

